.card{
    margin-top: 80px;
    margin-right: 10px;
    margin-left: 10px;
    border-color: blue;
}

#calorias1{
    width:  40px;
    height: 20px;

}

#peso1{
   width:  40px;
   height: 20px;   
}

#elemento1{
   width:  80px;
   height: 20px; 
}

#calorias2{
    width:  40px;
    height: 20px;

}

#peso2{
   width:  40px;
   height: 20px;   
}

#elemento2{
   width:  80px;
   height: 20px; 
}
#calorias3{
    width:  40px;
    height: 20px;

}

#peso3{
   width:  40px;
   height: 20px;   
}

#elemento3{
   width:  80px;
   height: 20px; 
}
#calorias4{
    width:  40px;
    height: 20px;

}

#peso4{
   width:  40px;
   height: 20px;   
}

#elemento4{
   width:  80px;
   height: 20px; 
}
#calorias5{
    width:  40px;
    height: 20px;

}

#peso5{
   width:  40px;
   height: 20px;   
}

#elemento5{
   width:  80px;
   height: 20px; 
}